<section>
    <h3>Admin Headings</h3>
    <p>PSomething Will change here</p>
    <footer>
        <a href="#" class="button">Continue Reading</a>
    </footer>
</section>

<section>
    <%- include('../partials/profilelinks') -%>
</section>