<!-- Banner -->
<section id="banner">
  <header>
    <h2>Tech Patents: <em>High End Distrupting<a href="/marketplace"> Tech Patents Available</a></em></h2>
    <a href="/marketplace" class="button">Learn More</a>
  </header>
</section>