<!-- Banner -->

<a name="blogStarter"></a>
<section id="blogbanner">
    <header>
      <h2>Blog Section: <em>To Go To Site Home Press: </em></h2>
      <a href="/" class="button">Main Site</a>
    </header>
  </section>