		<!-- Footer -->
        <div id="footer">
            <div class="container">
                <div class="row">
                    <section class="col-3 col-6-narrower col-12-mobilep">
                        <h3>Information</h3>
                        <ul class="links">
                            
                            <li><a href="/1of1info/Subscription">Subscriptions Information</a></li>
                            <li><a href="/1of1info/Membership">Membership Information</a></li>
                            <li><a href="/1of1info/About">About Us</a></li>
                            <li><a href="/1of1info/Contact">Contact Us</a></li>
                            <li><a href="/research">Research Areas</a></li>
                            <li><a href="/blog">Blog Posts</a></li>
                        </ul>
                    </section>
                    <section class="col-3 col-6-narrower col-12-mobilep">
                        <h3>Privacy</h3>
                        <ul class="links">
                            <li><a href="/1of1info/Privacy">Privacy Policy</a></li>
                            
                            <li><a href="/1of1info/Terms">Terms & Conditions</a></li>
                            <li><a href="/1of1info/Acceptable">Acceptable Use Policy</a></li>
                            <li><a href="/rejectCookie">Reject Cookie Acceptance</a></li>
                            <li><a href="/1of1info/Membinfo">Membership Information</a></li>
                            
                            
                            <% if (isAuthenticated) { %>
                                <% if (user.adminRights == true) { %>
                                    <li><a href="/administration">Admin</a></li>
                                    <% } %>
                                    <%} else { %>
                                        <li><a href="/1of1info/Adminuse">Administration Use Policy</a></li>
                                        <% } %>
                            
                        </ul>
                    </section>
                    <section class="col-6 col-12-narrower">
                        <h3>Get In Touch</h3>
                        <div class="col-md-12">
                            <% if (typeof message !== 'undefined') { %>
                              <h3 style="color: red;"><%= message %></h3>
                            <% } %>
                          </div>
                        <form action="/contact" method="post">
                            <div class="row gtr-50">
                                <div class="col-6 col-12-mobilep">
                                    <input type="text" name="fullname" id="name" placeholder="Name" />
                                </div>
                                <div class="col-6 col-12-mobilep">
                                    <input type="email" name="email" id="email" placeholder="Email" />
                                </div>
                                <div class="col-12">
                                    <textarea name="comment" id="message" placeholder="Message" rows="5"></textarea>
                                </div>
                                

                                <div class="col-6 col-12-mobilep">
                                    <input type="text" name="verifybox" id="email" placeholder="What Is The Capital Of Spain" />
                                </div>
                                <div class="col-12">
                                    <ul class="actions">
                                        <li><input type="submit" class="button alt" value="Send Message" /></li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </section>
                </div>
            </div>

            <!-- Icons -->
                <ul class="icons">
                    <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
                    <li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
                    <li><a href="#" class="icon brands fa-google-plus-g"><span class="label">Google+</span></a></li>
                </ul>

            <!-- Copyright -->
                <div class="copyright">
                    <ul class="menu">
                        <li>&copy; 1 Of 1. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                    </ul>
                </div>

        </div>

</div>


<% if (typeof cookies === 'undefined' || cookies.cookie_consent !== '1') { %>
    <!-- Your cookie banner HTML code here -->
    <div id="cookie-banner" class="cookie-banner">
        <p>We use cookies to ensure you get the best experience on our website. By continuing to use our site, you consent to our use of cookies. 
            <a href="/cookieinfo">Learn more</a>
          </p>
          <form action="/acceptCookie" method="post">
            <button id="accept-cookies">Accept</button>
          </form>
    </div>
    <% } %>

<!-- Scripts -->
    <script src="../../jquery.min.js"></script>
    <script src="../../jquery.dropotron.min.js"></script>
    <script src=../../browser.min.js"></script>
    <script src="../../breakpoints.min.js"></script>
    <script src="../../util.js"></script>
    <script src="../../main.js"></script>

</body>
</html>