<h3>Options</h3>
<ul class="links">
    <li><a href="/createinvention">Add Invention</a></li>
    <li><a href="/editprofile">Edit Profile</a></li>
    <li><a href="/changepassword">Change Password</a></li>
    <li><a href="/changeprofilepic">Change Profile Picture</a></li>
    <li><a href="#">Delete Account</a></li>

</ul>