<%- include('../partials/header') -%>


<!-- Main -->
<section class="wrapper style1">
    <div class="container">
        <div id="content">

            <!-- Content -->

                <article>
                    <header>
                        <h2>Oh No! Careful Now!</h2>
                        <p>We Like Our Content To Be Clean! <br>
                            We do not allow some charachters to be used in our content so things like < > are not allowed. If you are trying to write something that will not work for you please let us know and we can help <a href="/1of1info/contact">Contact Us</a> and let us know. 
                            Thank you very much.
                            <br></p>
                    </header>



        </div>
    </div>
</section>



<%- include('../partials/footer') -%>