<%- include('../partials/header') -%>


<!-- Main -->
<section class="wrapper style1">
    <div class="container">
        <div id="content">

            <!-- Content -->

                <article>
                    <header>
                        <h2>Careful Now!</h2>
                        <p>You are trying to perform an action that you are not authorised to perform. <br>
                            Please be careful as repeated violations may result in account suspension.</p>
                    </header>



        </div>
    </div>
</section>



<%- include('../partials/footer') -%>