<%- include('../partials/header') -%>


<!-- Main -->
<section class="wrapper style1">
    <div class="container">
        <div id="content">

            <!-- Content -->

                <article>
                    <header>
                        <h2>Oh No!</h2>
                        <p>Something Bad Happened! <br>
                            Ok so its not that dramatic, However something has gone wrong. If this persists please <a href="/1of1info/contact">Contact Us</a> and let us know. 
                            Thank you very much.
                            <br></p>
                    </header>



        </div>
    </div>
</section>



<%- include('../partials/footer') -%>