<%- include('../partials/header') -%>


<!-- Main -->
<section class="wrapper style1">
    <div class="container">
        <div id="content">

            <!-- Content -->

                <article>
                    <header>
                        <h2>Forgotten Password!</h2>
                        <p>
                            If you previouslyhad registered an account and cant remember your password please fill in this form and we will reset it for you!
                            <br></p>
                    </header>


                    <form action="/changeandresetpassword" method="post">
                        <div class="row gtr-50">
                            <div class="col-6 col-12-mobilep">
                                <input type="text" name="username" id="name" placeholder="User Name" />
                            </div>
                            <div class="col-6 col-12-mobilep">
                                <input type="email" name="email" id="email" placeholder="Email" />
                            </div>
                          
                            <div class="col-12">
                                <ul class="actions">
                                    <li><input type="submit" class="button alt" value="Reset My Password" /></li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </article>

        </div>
    </div>
</section>



<%- include('../partials/footer') -%>