<%- include('../partials/header') -%>


<!-- Main -->
<section class="wrapper style1">
    <div class="container">
        <div id="content">

            <!-- Content -->

                <article>
                    <header>
                        <h2>Spanish Capital?...</h2>
                        <p>We're sorry, but the captcha code you entered was incorrect. Please go back and try again. <br>
                            If you're still having trouble, please email us to research@1of1.ie us and we'll be happy to assist you.</p>
                    </header>



        </div>
    </div>
</section>



<%- include('../partials/footer') -%>